body{
    background: #4287f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

form{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}




#formScore{
    display: none;
}

#scoreBackUp{
    display: none;
}

#scoreTable{
    height: 600px;
    border: 2px solid rgb(200,200,200);
    letter-spacing: 1px;
    display: none;
    margin-left: auto;
    margin-right: auto;
    text-align: center; 
    overflow:scroll;
    overflow-x:hidden;
}


td, th {
    border: 1px solid rgb(190,190,190);
    padding: 10px 20px;
  }
  
  th {
    background-color: rgb(235,235,235);
  }

label{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 150px;
    height: 30px;
    font-size: 20px;
    padding: 5px;
    background: white;
    
}

button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    width: 150px;
    height: 40px;
    font-size: 15px;
    padding: 5px;
}

#formButton {
	display: block;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    width: 120px;
    height: 40px;
    font-size: 15px;
    padding: 5px;
}

#info_board{
    padding: 5px;
    width: 890px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: rgb(200, 233, 150);
    gap: 20px;
    height: 6vh;
}

main{
    background:  #edb9bf;
    grid-area: 3;
}

#main_camvas{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    height: 600px;
    background:  #edb9bf;
}

#main_header{
    padding: 5px;
    width: 890px;
    
    display: flex;
    align-items: center;
    flex-direction: column;
    background: rgb(200, 233, 150);
    font-size: 20px;
    left: 0;
    height: 15vh;
}





